{
  "swagger": "2.0",
  "info": {
    "title": "Wodby API (beta)",
    "description": "Documentation https://docs.wodby.com/dev\nGitHub https://github.com/wodby/wodby-api\n",
    "version": "3.0.x"
  },
  "host": "api.wodby.com",
  "basePath": "/api/v3",
  "schemes": [
    "https"
  ],
  "securityDefinitions": {
    "ApiKeyAuth": {
      "type": "apiKey",
      "in": "header",
      "name": "X-API-KEY"
    }
  },
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/orgs": {
      "get": {
        "description": "Retrieve organizations",
        "operationId": "getOrgs",
        "tags": [
          "Organization"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "Organization name",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Org"
              }
            }
          }
        }
      }
    },
    "/orgs/{id}": {
      "get": {
        "description": "Retrieve organization",
        "operationId": "getOrg",
        "tags": [
          "Organization"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Organization ID",
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Org"
            }
          }
        }
      }
    },
    "/apps": {
      "get": {
        "description": "Retrieve applications",
        "operationId": "getApps",
        "tags": [
          "Application"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "org_id",
            "in": "query",
            "description": "Organization ID",
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "name",
            "in": "query",
            "description": "Application name",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/App"
              }
            }
          }
        }
      },
      "post": {
        "description": "Create application",
        "operationId": "createApp",
        "tags": [
          "Application"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/RequestAppCreate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ResponseTaskApp"
            }
          }
        }
      }
    },
    "/apps/{id}": {
      "get": {
        "description": "Retrieve application",
        "operationId": "getApp",
        "tags": [
          "Application"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Application ID",
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/App"
            }
          }
        }
      },
      "delete": {
        "description": "Delete application",
        "operationId": "deleteApp",
        "tags": [
          "Application"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Application ID",
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ResponseTask"
            }
          }
        }
      }
    },
    "/instances": {
      "get": {
        "description": "Retrieve instances",
        "operationId": "getInstances",
        "tags": [
          "Instance"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "org_id",
            "in": "query",
            "description": "Organization ID",
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "server_id",
            "in": "query",
            "description": "Server ID",
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "app_id",
            "in": "query",
            "description": "Application ID",
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "type",
            "in": "query",
            "description": "Instance type",
            "type": "string"
          },
          {
            "name": "name",
            "in": "query",
            "description": "Instance name",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Instance"
              }
            }
          }
        }
      },
      "post": {
        "description": "Create instance",
        "operationId": "createInstance",
        "tags": [
          "Instance"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/RequestInstanceCreate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ResponseTaskInstance"
            }
          }
        }
      }
    },
    "/instances/{id}": {
      "get": {
        "description": "Retrieve application instance",
        "operationId": "getInstance",
        "tags": [
          "Instance"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Instance ID",
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Instance"
            }
          }
        }
      },
      "delete": {
        "description": "Delete application instance",
        "operationId": "deleteInstance",
        "tags": [
          "Instance"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Instance ID",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ResponseTask"
            }
          }
        }
      }
    },
    "/instances/{id}/deploy": {
      "post": {
        "description": "Deploy instance",
        "operationId": "deployInstance",
        "tags": [
          "Instance"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Instance ID",
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "data",
            "in": "body",
            "description": "",
            "schema": {
              "$ref": "#/definitions/RequestInstanceDeploy"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ResponseTask"
            }
          }
        }
      }
    },
    "/instances/{id}/deploy-codebase": {
      "post": {
        "description": "Deploy instance codebase",
        "operationId": "deployInstanceCodebase",
        "tags": [
          "Instance"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Instance ID",
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "data",
            "in": "body",
            "description": "",
            "schema": {
              "$ref": "#/definitions/RequestInstanceDeployCodebase"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ResponseTask"
            }
          }
        }
      }
    },
    "/tasks": {
      "get": {
        "description": "Retrieve tasks",
        "operationId": "getTasks",
        "tags": [
          "Task"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "org_id",
            "in": "query",
            "description": "Organization ID",
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "user_id",
            "in": "query",
            "description": "User ID",
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "status",
            "in": "query",
            "description": "Task status",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Task"
              }
            }
          }
        }
      }
    },
    "/tasks/{id}": {
      "get": {
        "description": "Retrieve task",
        "operationId": "getTask",
        "tags": [
          "Task"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Task ID",
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Task"
            }
          }
        }
      }
    },
    "/stacks": {
      "get": {
        "description": "Retrieve stacks",
        "operationId": "getStacks",
        "tags": [
          "Stack"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "Organization ID",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Stack"
              }
            }
          }
        }
      }
    },
    "/stacks/{id}": {
      "get": {
        "description": "Retrieve stack",
        "operationId": "getStack",
        "tags": [
          "Stack"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Stack ID",
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Stack"
            }
          }
        }
      }
    },
    "/git-repo": {
      "get": {
        "description": "Retrieve git repositories",
        "operationId": "getGitRepos",
        "tags": [
          "Git repository"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "org_id",
            "in": "query",
            "description": "Organization ID",
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "name",
            "in": "query",
            "description": "Git repository name",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/GitRepo"
              }
            }
          }
        }
      }
    },
    "/git-repo/{id}": {
      "get": {
        "description": "Retrieve git repository",
        "operationId": "getGitRepo",
        "tags": [
          "Git repository"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Git repository ID",
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/GitRepo"
            }
          }
        }
      }
    },
    "/servers": {
      "get": {
        "description": "Retrieve servers",
        "operationId": "getServers",
        "tags": [
          "Server"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "org_id",
            "in": "query",
            "description": "Organization ID",
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "name",
            "in": "query",
            "description": "Server name",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Server"
              }
            }
          }
        }
      }
    },
    "/servers/{id}": {
      "get": {
        "description": "Retrieve server",
        "operationId": "getServer",
        "tags": [
          "Server"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Server ID",
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Server"
            }
          }
        }
      }
    },
    "/domains": {
      "get": {
        "description": "Retrieve domains",
        "operationId": "getDomains",
        "tags": [
          "Domain"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "org_id",
            "in": "query",
            "description": "Organization ID",
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "instance_id",
            "in": "query",
            "description": "Instance ID",
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "server_id",
            "in": "query",
            "description": "Server ID",
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "status",
            "in": "query",
            "description": "Domain status",
            "type": "string"
          },
          {
            "name": "type",
            "in": "query",
            "description": "Domain type",
            "type": "string"
          },
          {
            "name": "name",
            "in": "query",
            "description": "Domain name",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Domain"
              }
            }
          }
        }
      }
    },
    "/domains/{id}": {
      "get": {
        "description": "Retrieve domain",
        "operationId": "getDomain",
        "tags": [
          "Domain"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Domain ID",
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Domain"
            }
          }
        }
      }
    },
    "/backups": {
      "get": {
        "description": "Retrieve backups by instance",
        "operationId": "getBackups",
        "tags": [
          "Backup"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "org_id",
            "in": "query",
            "description": "Organization ID",
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "instance_id",
            "in": "query",
            "description": "Instance ID",
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "server_id",
            "in": "query",
            "description": "Server ID",
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "type",
            "in": "query",
            "description": "Backup type",
            "type": "string"
          },
          {
            "name": "status",
            "in": "query",
            "description": "Backup status",
            "type": "string"
          },
          {
            "name": "days",
            "in": "query",
            "description": "Get backups for N days",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Backup"
              }
            }
          }
        }
      }
    },
    "/backups/{id}": {
      "get": {
        "description": "Retrieve backup",
        "operationId": "getBackup",
        "tags": [
          "Backup"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Backup ID",
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Backup"
            }
          }
        }
      }
    },
    "/user": {
      "get": {
        "description": "Retrieve authenticated user",
        "operationId": "getAuthenticatedUser",
        "tags": [
          "User"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/User"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "User": {
      "title": "User",
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "email": {
          "type": "string"
        },
        "first_name": {
          "type": "string"
        },
        "last_name": {
          "type": "string"
        },
        "created": {
          "type": "integer"
        },
        "updated": {
          "type": "integer"
        }
      },
      "required": [
        "id",
        "name",
        "email",
        "created",
        "updated"
      ],
      "additionalProperties": false
    },
    "Org": {
      "title": "Org",
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "status": {
          "type": "string",
          "enum": [
            "ok",
            "error",
            "creating",
            "updating",
            "deleting"
          ]
        },
        "created": {
          "type": "integer"
        },
        "updated": {
          "type": "integer"
        }
      },
      "required": [
        "id",
        "title",
        "name",
        "status",
        "created",
        "updated"
      ],
      "additionalProperties": false
    },
    "Task": {
      "title": "Task",
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "org_id": {
          "type": "string"
        },
        "status": {
          "type": "string",
          "enum": [
            "waiting",
            "in_progress",
            "done",
            "failed",
            "canceled"
          ]
        },
        "start": {
          "type": "integer"
        },
        "end": {
          "type": "integer"
        },
        "ttl": {
          "type": "integer"
        },
        "created": {
          "type": "integer"
        },
        "updated": {
          "type": "integer"
        }
      },
      "required": [
        "id",
        "title",
        "org_id",
        "status",
        "ttl",
        "created",
        "updated"
      ],
      "additionalProperties": false
    },
    "Stack": {
      "title": "Stack",
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "version": {
          "type": "string"
        },
        "revision_number": {
          "type": "integer"
        },
        "services": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/StackService"
          }
        },
        "org_id": {
          "type": "string"
        },
        "created": {
          "type": "integer"
        },
        "updated": {
          "type": "integer"
        }
      },
      "required": [
        "id",
        "title",
        "services",
        "org_id",
        "created",
        "updated"
      ],
      "additionalProperties": false
    },
    "StackService": {
      "title": "StackService",
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "docker_image": {
          "type": "string"
        },
        "type": {
          "type": "string"
        },
        "type_title": {
          "type": "string"
        }
      },
      "additionalProperties": false
    },
    "GitRepo": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "url": {
          "type": "string"
        },
        "org_id": {
          "type": "string"
        },
        "status": {
          "type": "string",
          "enum": [
            "ok",
            "error",
            "creating",
            "deleting"
          ]
        },
        "created": {
          "type": "integer"
        },
        "updated": {
          "type": "integer"
        }
      },
      "required": [
        "id",
        "title",
        "org_id",
        "status",
        "created",
        "updated"
      ],
      "additionalProperties": false
    },
    "App": {
      "title": "Application",
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "org_id": {
          "type": "string"
        },
        "git_repo_id": {
          "type": "string"
        },
        "status": {
          "type": "string",
          "enum": [
            "ok",
            "error",
            "creating",
            "deleting"
          ]
        },
        "created": {
          "type": "integer"
        },
        "updated": {
          "type": "integer"
        }
      },
      "required": [
        "id",
        "title",
        "name",
        "org_id",
        "status",
        "created",
        "updated"
      ],
      "additionalProperties": false
    },
    "Instance": {
      "title": "Instance",
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "type": {
          "$ref": "#/definitions/InstanceType"
        },
        "org_id": {
          "type": "string"
        },
        "app_id": {
          "type": "string"
        },
        "git_repo_id": {
          "type": "string"
        },
        "status": {
          "type": "string",
          "enum": [
            "ok",
            "unreachable",
            "error",
            "creating",
            "updating",
            "deleting"
          ]
        },
        "created": {
          "type": "integer"
        },
        "updated": {
          "type": "integer"
        }
      },
      "required": [
        "id",
        "name",
        "title",
        "org_id",
        "app_id",
        "status",
        "created",
        "updated"
      ],
      "additionalProperties": false
    },
    "InstanceType": {
      "title": "Instance Type",
      "type": "string",
      "enum": [
        "dev",
        "stage",
        "prod"
      ]
    },
    "Domain": {
      "title": "Domain",
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "org_id": {
          "type": "string"
        },
        "instance_id": {
          "type": "string"
        },
        "enabled": {
          "type": "boolean"
        },
        "primary": {
          "type": "boolean"
        },
        "protected": {
          "type": "boolean"
        },
        "indexed": {
          "type": "boolean"
        },
        "ssl": {
          "type": "boolean"
        },
        "ssl_required": {
          "type": "boolean"
        },
        "ssl_custom": {
          "type": "boolean"
        },
        "hsts": {
          "type": "boolean"
        },
        "hsts_subdomains": {
          "type": "boolean"
        },
        "redirect_to_www": {
          "type": "boolean"
        },
        "redirect_to_non_www": {
          "type": "boolean"
        },
        "status": {
          "type": "string",
          "enum": [
            "ok",
            "error",
            "creating",
            "deleting",
            "updating",
            "disabled"
          ]
        },
        "type": {
          "type": "string",
          "enum": [
            "technical",
            "user"
          ]
        },
        "created": {
          "type": "integer"
        },
        "updated": {
          "type": "integer"
        }
      },
      "required": [
        "id",
        "name",
        "org_id",
        "instance_id",
        "status",
        "type",
        "created",
        "updated"
      ],
      "additionalProperties": false
    },
    "Server": {
      "title": "Server",
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "ip_address": {
          "type": "string"
        },
        "version": {
          "type": "string"
        },
        "org_id": {
          "type": "string"
        },
        "status": {
          "type": "string",
          "enum": [
            "ok",
            "error",
            "creating",
            "deleting",
            "updating",
            "disabled",
            "unreachable",
            "initializing"
          ]
        },
        "created": {
          "type": "integer"
        },
        "updated": {
          "type": "integer"
        }
      },
      "required": [
        "id",
        "title",
        "version",
        "org_id",
        "status",
        "created",
        "updated"
      ],
      "additionalProperties": false
    },
    "Backup": {
      "title": "Backup",
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "type": {
          "type": "string",
          "enum": [
            "system",
            "daily",
            "manual"
          ]
        },
        "org_id": {
          "type": "string"
        },
        "instance_id": {
          "type": "string"
        },
        "eta": {
          "type": "integer"
        },
        "spent": {
          "type": "integer"
        },
        "status": {
          "type": "string",
          "enum": [
            "ok",
            "error",
            "waiting",
            "creating",
            "restoring",
            "deleting"
          ]
        },
        "created": {
          "type": "integer"
        },
        "updated": {
          "type": "integer"
        }
      },
      "required": [
        "id",
        "type",
        "org_id",
        "instance_id",
        "status",
        "created",
        "updated"
      ],
      "additionalProperties": false
    },
    "RequestAppCreate": {
      "type": "object",
      "properties": {
        "org_id": {
          "$ref": "#/definitions/Uuid"
        },
        "title": {
          "type": "string"
        },
        "name": {
          "type": "string",
          "pattern": "^[a-z0-9][a-z0-9-]{0,28}[a-z0-9]$"
        },
        "stack_id": {
          "type": "string"
        },
        "docroot": {
          "type": "string"
        },
        "sitename": {
          "type": "string"
        },
        "server_id": {
          "$ref": "#/definitions/Uuid"
        },
        "instance_type": {
          "$ref": "#/definitions/InstanceType"
        },
        "instance_name": {
          "type": "string",
          "pattern": "^[a-z0-9][a-z0-9-]{0,18}[a-z0-9]$"
        },
        "instance_title": {
          "type": "string"
        },
        "services": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string",
                "example": "http-server"
              },
              "implementation": {
                "type": "string",
                "example": "nginx-1-15"
              },
              "enable": {
                "type": "boolean"
              }
            },
            "required": [
              "name"
            ],
            "additionalProperties": false
          }
        },
        "deployment_type": {
          "type": "string",
          "enum": [
            "vanilla",
            "git",
            "ci"
          ],
          "default": "vanilla"
        },
        "post_deployment": {
          "type": "boolean"
        },
        "git": {
          "type": "object",
          "properties": {
            "repo_id": {
              "$ref": "#/definitions/Uuid"
            },
            "tree_ish": {
              "type": "string",
              "description": "Commit, branch or tag"
            }
          },
          "required": [
            "repo_id"
          ],
          "additionalProperties": false
        }
      },
      "required": [
        "org_id",
        "name",
        "stack_id",
        "server_id"
      ],
      "additionalProperties": false
    },
    "RequestInstanceCreate": {
      "type": "object",
      "properties": {
        "app_id": {
          "$ref": "#/definitions/Uuid"
        },
        "server_id": {
          "$ref": "#/definitions/Uuid"
        },
        "type": {
          "$ref": "#/definitions/InstanceType"
        },
        "name": {
          "type": "string",
          "pattern": "^[a-z0-9][a-z0-9-]{0,18}[a-z0-9]$"
        },
        "title": {
          "type": "string"
        },
        "post_deployment": {
          "type": "boolean"
        },
        "git": {
          "type": "object",
          "properties": {
            "tree_ish": {
              "type": "string",
              "description": "Commit, branch or tag"
            }
          },
          "additionalProperties": false
        }
      },
      "required": [
        "app_id",
        "server_id",
        "type",
        "name"
      ],
      "additionalProperties": false
    },
    "RequestInstanceDeploy": {
      "type": "object",
      "properties": {
        "post_deployment": {
          "type": "boolean"
        }
      },
      "additionalProperties": false
    },
    "RequestInstanceDeployCodebase": {
      "type": "object",
      "properties": {
        "git": {
          "type": "object",
          "properties": {
            "tree_ish": {
              "type": "string",
              "description": "Commit, branch or tag"
            }
          },
          "additionalProperties": false
        },
        "post_deployment": {
          "type": "boolean"
        }
      },
      "additionalProperties": false
    },
    "ResponseTask": {
      "type": "object",
      "properties": {
        "task": {
          "$ref": "#/definitions/Task"
        }
      },
      "required": [
        "task"
      ],
      "additionalProperties": false
    },
    "ResponseTaskApp": {
      "type": "object",
      "properties": {
        "app": {
          "$ref": "#/definitions/App"
        },
        "task": {
          "$ref": "#/definitions/Task"
        }
      },
      "required": [
        "app",
        "task"
      ],
      "additionalProperties": false
    },
    "ResponseTaskInstance": {
      "type": "object",
      "properties": {
        "instance": {
          "$ref": "#/definitions/Instance"
        },
        "task": {
          "$ref": "#/definitions/Task"
        }
      },
      "required": [
        "instance",
        "task"
      ],
      "additionalProperties": false
    },
    "Uuid": {
      "type": "string",
      "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$"
    }
  }
}
